BadHttpRequestException (encoding?)

```
info: Microsoft.AspNetCore.Server.Kestrel[17]
      Connection id "0HLE7VFNTA097" bad request data: "Invalid request line: 'PUT %2fLM%2fW3SVC%2f2%2fROOT(oXvpnxcuEWqKAgOETha32JavYZ6eCqrpTN5%2fHxWS854%3d)%2fk1im0mymglivv5rttkwn4fle HTTP/1.1\x0D\x0A'"
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Invalid request line: 'PUT %2fLM%2fW3SVC%2f2%2fROOT(oXvpnxcuEWqKAgOETha32JavYZ6eCqrpTN5%2fHxWS854%3d)%2fk1im0mymglivv5rttkwn4fle HTTP/1.1\x0D\x0A'
```

Don't even ask me what I'm trying to get connecting. Weird old project that does a lot of stuff by hand.

What's the deal with this though? The best I have is the encoding is odd. Maybe the `%2f` on the front?

Confirmed. Sticking a `/` at the beginning of the same `PUT` works fine.



You're right that this appears to be intentional. See #1409 which was a PR made to close #1393. I can't find any mention in either the issue or PR for why we started rejecting all requests starting with `%`. @davidfowl comments:

> This is the `GET % HTTP/1.1` scenario right?

It makes sense that a Request-URI containing just a `%` should be rejected given it's a partial escape sequence, but I'm not sure why we started rejecting any Request-URI starting with an escape sequence. @Tratcher @davidfowl Any ideas why we might do this?

I don't see any explanation for why a leading % should be treated differently.

Yea I don't know if it was intentional. 

After talking to @Tratcher, I think we figured this out. `PUT FOO HTTP/1.1` is accepted because it is interpreted as an authority form request and "FOO" contains only valid authority form characters. "F%2f" is also rejected (in a different part of the code) for not containing only valid authority form characters.

It seems that the `if (pathStart == -1)` check after seeing a `%` character in the Request-URI is no longer necessary since a request starting with a `%` would be rejected by `Http1Connection.OnAuthorityFormTarget()` anyway.


So, okay. But should % actually be rejected?

@wasabii Yes, `%` should be rejected. From our reading of RFC 7230 Section 5.3, Request-URIs should come in one of 4 forms: origin-form (i.e. absolute-path ["?" query]), absolute-form, authority-form and asterisk-form. Origin-form targets can be percent encoded, but must start with `/`. Absolute-form targets can have their paths percent encoded but must start with `http://` or `https://` (given that we're an HTTP server) and must be an absolute-URI as defined in RFC 3986 Section 4.3. Authority-form targets are only valid for CONNECT requests and has a pretty limited allowed charset that doesn't include `%`. And lastly an asterisk-form target has to be exactly `*`.

Oh. It did fail. It just made it past the bad request line stuff I was focused on.

No chance of supporting % eh? I got it working by rewriring the method IL inside Kestrel at load. But that is hella bad.

Trying to write an ASP.Net state server in Core, hosted on Service Fabric, using the Actor model. And maintaining compatibility with existing protocol, which is closed source, in original ASP.Net.

Whomever came up with this (MS) didn't use any existing HTTP library, but decided to do it by hand with sockets. The one thing that they got really wrong is the damned slash.



So this is one of those long standing issues facing everybody trying to write awesome software: how close does one stick to technical purity, vs how many weird use cases do you want your software to be used for.

I don't envy the choice!

What I can say though is, given no way to "turn off strict handling" in Kestrel, it's kinda useless for my particular application. I have temporarily solved my issue by using a IL interception library to overwrite the offending check. Which, from my point of view, isn't really maintainable. But it let me proceed with writing the rest of the software.

I think I'd probably end up with a private fork of Kestrel, though, to get this done. Which sucks for other reasons.

It should be noted that neither HttpSys nor HttpListener work either.

How about this? Kestrel is largely container driven, right? Is there a way to get the request handling stuff pulled out from the container, so it can be overridden by users trying to do stupid things like myself?

Note: the request isn't actually missing the preceding slash. It's just all URL encoded. If you decode it BEFORE looking for the /, it's fine. So they're probably actually just encoding the wrong parts. The entire thing instead of the segments.

%2F can't be decoded without changing the semantics of the request path.

We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.
